$font-family: "Nunito", sans-serif;
$primary-color: #17a398;
// $primary-color: #075C76; //color de kochanie
$primary-color-hover: rgb(24, 148, 138);
$secondary-color: #f6ad04;
// $secondary-color: #CFAC5C; //color de kochanie
// $secondary-color: #CCB174; //color de kochanie0
$secondary-color-hover: rgb(241, 172, 10);
$black-color: #141414;
$grey-color: #7a7a7a;
$white-color: #ffffff;
