.about-us-container {
  width:100%;
  height:100%;
  margin: 0;
  padding: 2rem;
  justify-content: center;
  background: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  @media screen and (max-width:957px){
    height:auto;
  }
}
.nav-logo-about{
    width: 100%;
    height: 100%;
}
.card {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  height: 450px;
  border-radius: 0.65rem;
  overflow: hidden;
}
.card-about-us{
  min-width: 350px;
  height: 350px;
}
#card-1{
  margin: 2rem 1rem 2rem 1rem;
}
#card-2{
  margin: 2rem 1rem 1rem 1rem;
    @media screen and (max-width:958px){
     margin: 0 1rem 2rem 1rem;
    }
}
#card-3{
  margin: 2rem 1rem 2rem 1rem;
}
#card-3{
      @media screen and (max-width:1278px){
     margin: 0 1rem 2rem 1rem;
  }
}
.card  .name-profile{
  margin-bottom:1rem;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
   @media screen and (max-width:380px){
       padding: 0.5rem 0.3rem;
   }
}
.desc{
    height: 6rem;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.img-avatar {
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  top: 15px;
  left: 100px;
}
.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}
path {
  fill: white;
}
.img-portada {
  width: 100%;
}
.portada {
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-size: cover;
}
#ivan{
  background-image: url("../img/ivan.jpeg");
}
#sergio{
  background-image: url("../img/sergio.jpg");
}
.links-profile {
  border: none;
  background: none;
  font-size: 24px;
  color: #18958D;
  cursor: pointer;
  transition:.5s;
 position: relative;
 top:20px;
    @media screen and (max-width:380px){
      top:0px;
  }
}
.links-profile:hover{
    color: #4CAF50;
    transform: rotate(22deg)
}
.grid-card{
        display: flex;
    justify-content: center;
}