.content-box-blog{
    background-color: rgba(255,255,255,0.25);
    padding: 0;
    min-height: calc(100vh - 96px);
}
.blog-view{
    background-image: url("../img/background-blog.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.close-icon {
    cursor: pointer;
    color: #EF0606;
}
.center-file-input {
	margin-top: 2rem;
	text-align-last: center;
}