.small_Card{
    width: 27.438rem;
    height: 18.904rem;
margin:1.3rem auto;
}
.small_img{
    width: 100%;
    height:35rem
}
.small_Title{
  color:#16A398;
    margin: 0 auto
}
.small_Text{
    margin: 0.4rem 0 0.6rem 0.9rem
}
.button_Small{
    margin: 0 auto
}