.card--small{
    width: 27.438rem;
    margin:1.3rem auto;
}
.img--small{
    width: 100%;
    height:8rem
}
.title--small{
    color:#16A398;
    margin: 0 auto
}
.text--small{
    margin: 0.4rem 0 0.6rem 0.9rem
}
.button--small{
    margin: 0 auto
}
