.card__big{
width: 78.188rem;
height:40.063rem;
margin: 1rem auto;
flex-direction: row;

}
.img_big{
  width: 40%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.button__big{
    margin: 0 auto 2rem auto
}

.title__big{
  color:#16A398;
  font-size: 3rem;
  margin-left: 4rem;

}
.subtitle__big{
  color:#16A398;
  font-size: 2rem;
  margin: 2rem 0 0 1rem;

}
.img__round{
 border-radius: 50%;
 height:5rem;
 width: 6rem;
 margin:1rem 1rem 0 1.5rem;
}