.card--small{
    width: 27.438rem;
    margin:0.5rem auto 0.5rem auto;
    @media screen and (max-width:466px){
        margin:0 0 1.3rem 0;
        width:100%;
    }
}
.img--small{
    width: 100%;
    height:8rem
}
.title--small{
    color:#16A398;
    margin: 0 auto
}
.text--small{
    margin: 0.4rem 0 0.6rem 0.9rem
}
.button--small{
    margin: 0 auto
}
.btn-link-post{
    display:flex;
    position: relative;
    left: 150px;
}
.body-card{
    place-content: center;
}