@import "_variables";

.chat-view {
  background-image: url("../img/background-chat.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: calc(100vh - 96px);
}
.content-box-chat {
  overflow: hidden;
  height: 80vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.65rem;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .chat-box {
    width: 90%;
    margin: 1rem auto;
  }
  .content-box-chat {
    width: 95%;
  }
}
.messages-box {
  height: 90%;
  padding: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.full-message {
  display: flex;
  flex-direction: row;
}
.chat-user-picture {
  border-radius: 100%;
  border: $grey-color solid 1px;
  height: 2rem;
  width: 2rem;
  img {
    width: 100%;
    height: 100%;
  }
}
.chat-text {
  margin: 0.15rem auto 0.15rem 0.15rem;
  padding: 0.3rem 0.8rem;
  background-color: $secondary-color;
  border-radius: 0.5rem;
  color: $black-color;
}
.input-box {
  border-top: solid $grey-color 1px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-color;
}
.send-icon {
  font-size: 1.5rem;
  margin: 0 1rem 1rem 0;
  color: $secondary-color;
}
.send-icon:hover {
  color: $primary-color;
  cursor: pointer;
  transform: rotate(-20deg);
}
.textarea-chat {
  resize: none;
}
