

.small{
    border-radius: 100%;
    height: 2.983rem;
    width: 2.983rem;
}

.medium{
    border-radius: 100%;
    height: 4.938rem;
    width: 4.938rem;
}

.large{
    border-radius: 100%;
    height: 9.412rem;
    width: 9.412rem;
}

.big{
    border-radius: 100%;
    height: 20.161rem;
    width: 20.161rem;
}

