.faq-title{
    text-align: center;
    margin:1.5rem;
}
.preguntas{
    padding: 0 3rem 1rem 3rem;
}
#preg-title{
    font-size:1.4rem;
}
#preg-answer{
    font-size:1.2rem;
    line-height: 30px;
    margin-bottom:15px;
}
.accordion{
    margin: 1rem 0;
    border: 0.3px solid #fff;

}
.accordion:hover{
    border: 0.3px solid #18A398;
}
#accord-details{
    display:flex;
    flex-direction: column;
}