@import 'index.scss';

footer{
    color: $white-color;
    background-color: $black-color;
    font-family: $font-family;
}
.link-footer{
    margin: 0 1rem;
    color: $white-color;
    display: inline-block;
}
.link-footer:hover{
    color: $secondary-color;
    text-decoration: none;
}
span{
    margin-right: auto;
    margin-left: 1rem;
}