.media-links{
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 30px;
}
.home-img{
    height: 550px;
    width: 100%;
}
.home-media{
     position: relative;
}
.home-title{
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(6, 143, 131);
}
.auth-btn{
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    width: 196px;
    font-family: Nunito;
    font-weight: bold;
    color: #FFFFFF;
    height: 46px;
    border:none;
    text-align: center;
    background: #17A398;
}
#registrate-btn{
    position:relative;
    left:120px;
    margin: 1.5rem 0 1rem 0;

}

#login-btn{
    position:relative;
    left:120px;

}
.pregunta-home{
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    color: #F5B82E;
    margin: 0.7rem 0 -0.3rem 0;
    white-space: nowrap;
    font-size: calc(1.8vw + 2vh + 2vmin);
    @media screen and (min-width: 1300px){
        font-size: 53px;
    }
     @media screen and (max-width:700px){
        font-size: 40px;
    }
      @media screen and (max-width:400px){
        font-size: 35px;
    }
}
.home-text{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justify;
    text-justify: inter-word;
    margin:1.2rem 0;
        @media screen and (max-width:700px){
    margin:1rem 0;
    }
}
.colored-text{
    color: #17A398;

}
.mision{
    padding: 0.5rem 3rem 0.5rem 3rem;
        @media screen and (max-width:900px){
    padding: 0.5rem 2rem 0.5rem 2rem;
    }
        @media screen and (max-width:480px){
    padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
.viajes-prop{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #17A398;
    margin: 0.5rem 1rem;
    font-size: calc(1.8vw + 2vh + 2vmin);
    @media screen and (min-width: 1300px){
        font-size: 53px;
    }
     @media screen and (max-width:700px){
        font-size: 40px;
    }
      @media screen and (max-width:400px){
        font-size: 35px;
    }
}
#title-largo{
    @media screen and (max-width:788px){

    }
}
.see-more{
    height: 60px;
    width: 829px;
    border-radius: 5px;
    background: #F5B82E;
    text-align: center;
    margin:1.4rem auto 1.4rem auto;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    text-decoration: none !important;
    @media screen and (max-width:1050px){
        height: 60px;
        width: 529px;
        font-size: 33px;
        line-height: 60px;
    }
    @media screen and (max-width:569px){
        height: 50px;
        width: 329px;
        font-size: 25px;
        line-height: 50px;
    }
      @media screen and (max-width:460px){
        height: 50px;
        width: 189px;
        font-size: 25px;
    margin:0.7rem auto 0.8rem auto;

    }
}
.trips-cards-3{
    display:flex;
}
.mini-cards-comp{
    display:flex;
    // justify-content: space-around;
    width: 100%;
}

.card-small-1, .card-small-2, .card-small-3{
    width:33.3%
}
@media screen and (max-width:1375px){
    .card-small-1, .card-small-2 {
    width:50%;
    margin:2rem;
    
}
    .card-small-3{
    width:100%
    }
}
.card-sm{
    padding:0.5rem 0.5rem 0 0.5rem;
}