/* 
    General Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$font-family: 'Nunito', sans-serif;
$primary-color: #17A398;
$primary-color-hover: rgb(24, 148, 138);
$secondary-color: #F5B82E;
$secondary-color-hover: rgb(241, 172, 10);
$black-color: #141414;
$grey-color: #C4C4C4;
$white-color: #FFFFFF;