@import "_variables";

.post-image {
  width: 100%;
  height: 25rem;
}
@supports (object-fit: cover) {
  .post-image {
    height: 25rem;
    object-fit: cover;
    object-position: center center;
  }
}
.user-picture-post {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  border: solid 1px $grey-color;
}
