.post-container{
    width:100%;
    display:flex;
}
.img-river{
    height: 331px;
    width: 878px;
    border-radius: 0px;
    display:flex;
margin: 1.5rem auto 0 auto;
}
.post-title{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    margin-top:1rem;
}
.content{
    // margin: 0 5rem;
}
.content-txt{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    margin: 1rem auto;
    width: 840px;

}
.division{
    width: 10%;
}
.division2{
    width: 10%;
}
.content-division{
    width: 80%;
}
.comments{
    width: 219px;
    height: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* AZUL */
    color: #17A398;
    position:relative;
    right:333px;
}
.social-post{
    text-align: -webkit-center;
}
.comment-user-img{
    width: 39px;
    height: 33px;
    border-radius: 82px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-bottom:2rem;
}
.user-field{
    display: flex;
    justify-content: center;
    position:relative;
    right:338px;
    top:5px;
}  
.user-comment-field{
    display: flex;
    justify-content: center;
    position:relative;
    right:260px;
    bottom:10px;
} 
.userName{
 position:relative;
    left:15px;
    top:8px;
    font-size: 1rem;
    font-weight: bold;
}
.userComment{
   
}