@import 'index.scss';

.profile-view{
    background: url("../img/background-profile.jpg") repeat center;
    background-size: cover;
    @media only screen and (min-width: 768px) {
        height: 100vh;
    }
}
.content-box-profile{
    @media only screen and (min-width: 768px) {
    height: 100vh;
    overflow: hidden;
    }
}
.background-image{
    width: 100%;
    background: url("../img/background-profile-2.jpg") center;
    background-size: cover;
    display: flex;
}
.profile-img{
    background: white;
    border: solid white 0.5rem;
    border-radius:100%;
    height: 12rem;
    width: 12rem;
    margin: 1.25rem auto;
    
}
.bio{
    word-wrap: break-word;
}
.body{
    width: 95%;
    margin: 0 auto;
}
.trip-cards{
    max-height: 350px;
    overflow-y: scroll;
}
.basic-info{
    
    @media only screen and (min-width: 768px) {
        text-align: center;
    }
}