.tripProposalTitleId{
    font-family: Nunito;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 87px;
letter-spacing: 0em;
text-align: left;
margin: 2rem 0 0 2rem;
color: #17A398;
}
.tripIdBack{
    height: 244px;
    width:100%;
    // object-fit: contain;
   
}
.card--bigId{
     width:90%;
    height: auto;

  margin: 0 auto;
  padding: 0 2rem 2rem 0;
    
    
}
.cardResp{
    width: 75.3125rem;
// margin: 0 2rem 1rem 2rem;
}
.img--big{
    width: 40%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.button--big{
    display:flex;
    justify-content: center;
}

.title{
    color:#16A398;
    font-size: 3rem;
    margin-top:1rem;
    position:relative;
    right:16rem
}
.textTitleId{
    $marg: 3px;
    font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

margin-bottom:(-$marg);
}
.infoTextId{
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
}

.subtitle--big{
    color:#16A398;
    font-size: 2rem;
    margin: 2rem 0 0 1rem;
}



.cardText{
    margin-bottom: 0.5rem
}


.cardBodyId{
    padding:0;
}
.imgPartnersId{
width: 58px;
height: 62px;
border-radius: 82px;
margin: 0.5rem 0.5rem 0 0.3rem
}
.chatPartner{
    display:flex;
    margin-bottom:-1rem ;
    align-items: baseline;
}
#partners{
    margin: 1rem 0 0 2rem;
  @media (max-width: 380px) {
margin: 1rem 0 0 0;
  }
}

.partnerName{
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
position:relative;
bottom:23px;
left:10px;
}
.chatButton{
    height: 58.67857360839844px;
width: 117px;
border-radius: 5px;
background: #F5B82E;
border:none;
color:#ffffff;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
position:absolute;
bottom:187px;
left:240px;
  @media (max-width: 400px) {
     height: 38.67857360839844px;
width: 77px;
font-size: 27px;
bottom:198px;

  }
    @media (max-width: 380px) {
left:200px;
  }
}
.chatButton1{
    height: 58.67857360839844px;
width: 117px;
border-radius: 5px;
background: #F5B82E;
border:none;
color:#ffffff;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
position:absolute;
bottom:114px;

left:240px;
 @media (max-width: 400px) {
     height: 38.67857360839844px;
width: 77px;
font-size: 27px;
bottom:120px;

  }
  @media (max-width: 380px) {
left:200px;
  }
}
.joinId{
width: 301.69px;
height: 70.78px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
text-align: center;
 border: none;
color: #FFFFFF;
background: #F5B82E;
border-radius: 5px;
  @media (max-width: 400px) {
   width: 201.69px;
height: 50.78px;
margin-top:1rem;
  }
}

#joinBtn{
    display:flex;
    justify-content: flex-end;
}
